*{
	margin: 0;
	padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

@font-face {
  font-family: "Kimberley";
  src: url(./../navfont.TTF) format("truetype");
}
@font-face {
  font-family: "chinese";
  src: url(./../ADOBEHEITISTD-REGULAR.OTF) format("truetype");
}
@font-face {
  font-family: "english";
  src: url(./../MYRIADPRO-BOLD.OTF) format("truetype");
}


/***********************************************************公共参数***********************************************************/
.wt{
	transition: width 0.5s;
}
.pt{
	transition: padding-left 0.5s;
}
.pc{
	display: block !important; 
}
.mb{
	display: none !important; 
}
.header, .content, .footer,.sidebar {
	display: none; 
}
.header {
	display: none;
	height: 30.33vw;
	background: url(./../image/header.jpg);
	background-size: 100%;
	/*background-position: 0px -100px;*/
}
/*
 ***********************************************************PC导航栏 **********************************************************
*/

.nav {
	font-family: "Kimberley", sans-serif;
	padding: 82px 67px;
	color: #000;
	font-size: 22px;
	font-weight: 500;
	/*display: block;*/
}

.nav a {
	color: #000;
	font-weight: 600;
	text-decoration: none;
}

.nav a.selected {
	color: #005B9F;
}
.nav a:hover {
	letter-spacing: 5px;
	transition: letter-spacing 0.5s;
	text-decoration: none;
	color: #005B9F;
}

.nav li {
	font-size: 27px;
	line-height: 62px;
	/*margin-top: 3vw;*/
}

.nav .searchicon {
	width: 1.3vw;
	height: 1.3vw;
}

/*.pcsearch {
    width: 1.9vw;
    overflow: hidden;
    height: 2.1vw;
    white-space: nowrap;
    transition: all 0.2s ease-out 0s;
}
.pcsearch span {
    vertical-align: middle;
    margin-left: 10px;
    font-weight: 600;
    font-size: 1vw;
}
.pcsearch:hover {
    margin-left: 5px;
    width: 130px;
}*/
.nav {
	padding: 96px 79px;
	position: fixed;
	top: 0;
}
.nav a{
	font-family: 'Kimberley';
}
.homelogo{
	width: 177px;
}

/*
 **********************************************************手机导航 **********************************************************
*/

.sidebar {
	/*display: none;*/
}
.mask {
	display: none;
	z-index: 10;
	    height: 100%;
	    position: fixed;
	    width: 100%;
	    top: 0;
	    background: rgba(0,0,0,0.8);
}
.searchview {
		display: none;
	    z-index: 999;
	    position: fixed;
	    top: 10%;
	    left: calc(50% - 250px);
	    width: 500px;
	    background: #bbbbbb;
	    border-radius: 10px;
}
.searchview img {
	    margin-top: 16px;
}
.searchview input {
	    outline: none;
	        width: 430px;
	        height: 59px;
	        font-size: 25px;
	        border: none;
	        background: #bbbbbb;
	        color: #fff;
	        border-radius: 10px;
}
.mobilenav {
	background: rgba(0, 0, 0, 0.5);
	height: 100px;
	 
	transition:opacity 0.5s;
}

.mobilenav img {
	margin-top: 29px;
}

.mobilenav .img1 {
	margin-left: 40px;
}

.mobilenav .img2 {
	margin-left: 25px;
}

.mobilenav .img3 {
	margin-left: 0%;
	position: absolute;
	left: 45%;
	margin-top: 22px;
}

.mobilenav .img4 {
	position: absolute;
	right: 30px;
	margin-right: 30px;
	margin-top: 30px;
}
.mobilenav {
	/*display: none;*/
}
.footer {
	float: left;
	width: 100%;
	margin-top: 196px;
	font-size: 12.5px;
}

/*
  ***********************************************************PC底部 **********************************************************
*/
.footer p {
	margin-top: 10px
}

.footer p:first-child {
	margin-top: 19px;
}
.footer {
	float: left;
	width: 100%;
	margin-top: 196px;
	font-size: 12.5px;
}

.footer p {
	margin-top: 10px
}

.footer p:first-child {
	margin-top: 19px;
}
.footer {
	color: #fff;
	background: black;
	text-align: center;
	height: 100px;
}


/*
  ***********************************************************小于1220像素 **********************************************************
*/

@media only screen and (max-width: 1200px){
	.nav{
		padding-left: 5%;
	}
	.homelogo{
		width: 140px;
	}

	.nav a{
		font-size: 20px;
		transition: font-size 0.5s;

	}
	.nav li{
		line-height: 50px;
	}
}

/*
  ***********************************************************小于768像素 **********************************************************
*/
@media only screen and (max-width: 768px) {
	/*******************公共参数*********************************/
	.pc{display: none!important;}
	.mb{display: block!important;}
	.homecontent,.homeFooter {
		display: none!important;
	}
	.header, .content ,.about,.contact{
		display: block!important;
	}
	/**************************轮播图 ***********************/
	.header {
		height: 155vw;
		background:  none;
	}
	.header .gallery div {
		width: 100%;
		height: 155vw;
	}
	/* *************************手机导航 **********************/
	.mobilenav {
		/*display: block;*/
		z-index: 9;
		position: fixed;
		top: 0px;
		width: 100%;
	}
	.nav {
		/*display: none;*/
	}
	/* ****************手机导航列表 ***************/
	.sidebar {
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		width: 42%;
		height: auto;
		background: rgba(0, 0, 0, 0.5);
		left: -600px;
		position: fixed;
		z-index: 99;
	}
	.sidebar .closebtn {
		background: rgba(0, 0, 0, 0.5);
		width: 60px;
		height: 60px;
		position: absolute;
		right: -60px;
		top: 0;
	}
	.closebtn img {
		padding: 13px;
	}
	.sidebar .barlogo {
		padding: 8.3vw;
		height: auto;
		width: 18vw;
	}
	.barnav {
		color: #FFFFFF;
		font-size: 30px;
		font-weight: 900;
	}
	.barnav li {
		margin-bottom: 9.5vw;
	}
	.barnav a {
		font-size: 4vw;
		color: #fff;
		text-decoration: none;
		padding: 8.3vw 0 0 8.3vw;
		font-family: 'Kimberley';
	}
	.barnav a.selected {
		color: #005B9F;
	}
	.sidebar {
		/*display: block;*/
	}
	/* ***************************************手机底部 ****************************************/
	.mobilefooter {
		float: left;
		width: 100%;
		box-sizing: border-box;
		height: 108px;
		margin-top: 196px;
		padding:  0 0 27px 33px ;
		font-size: 12.5px;
		color: #fff;
		background: black;
	}
	.aboutinfo span {
		float: left;
	    display: inline-block;
	    margin-right: 10px;
	    margin-top: 15px;
	}
	.aboutinfo img {
		margin-right: 13px;
	    margin-top: 15px;
	}
	.aboutinfo{
		margin-top: 30px;
		width: 100%;
	}

	.icon-group{
		display: inline-block;
		float: right;
	}
	.mobilefooter .logo {
		    padding-top: 33px;
		    margin-right: 17px;
	}

	.mobilefooter .footerinfo {		    
		font-size: 12px;
		width: 100%;
		display: inline-block;
	}
	.addressinfo .item {
		display: inline-block;
		font-size: 12px;
		margin-right: 8px;
		margin-top: 10px;
	}

	.addressinfo img {
		margin-right: 3px;
		height: 15px;
	}

	.addressinfo .item img.address {
		width: 9px;
	}

	.addressinfo .item img.phone {
		width: 7px;
	}

	.addressinfo .item img.email {
		width: 17px;
	}

	.addressinfo .item span {
		vertical-align: text-top;
	}
	

}


/*******子页面的标题样式************/
.infoheader {
	color: #000000;
	margin-top: 122px;
}

.infoheader .title {
	font-size: 25px;
}

.infoheader .middle {
	color: black;
	font-size: 20px;
	line-height: 57px;
}

.infoheader .middle .line {
	margin-top: 0px;
	display: inline-block;
	border-bottom: 1px solid #3e3a39;
	width: 50px;
	margin-left: 7px;
	vertical-align: middle;
}

.infoheader .middle span {
	color: #000000;
	font-weight: 500;
}

.infoheader .middle span.mark {
	background: #3e3a39;
	width: 5px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.infoheader .assist {
	font-size: 10px;
}
 .title{
	font-family: "chinese";
}
 .infoheader .middle span{
	font-family: "english";
}