/*@-webkit-keyframes fadeInOut {
    0% {
        opacity:1;
     }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0;    
    }
    75% {
        opacity:1;
    }
}
.anim_fade_image {
    position:absolute;    
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}*/
.homecontent {
	height: 50vw;
}
.homecontent .rightbottom {
	width: 182px;
	position: absolute;
	right: 33px;
	bottom: 35px;
}
.homeinfo {
	position: absolute;
	right: 10px;
	color: black;
	top: 36px;
}
.homeinfo .item {
	display: inline-block;
	font-size: 12px;
	margin-left: 19px;
}
.homeinfo .item img.address {
	width: 9px;
}
.homeinfo .item img.phone {
	width: 7px;
}
.homeinfo .item img.email {
	width: 17px;
}

.homeinfo .item span{
	vertical-align: text-top;
	margin-left: 9px;
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 1px;
}
.flickity-page-dots .dot.is-selected {
    filter: alpha(opacity=100);
    opacity: 1;
}
.flickity-prev-next-button previous, .flickity-prev-next-button {
    display: none;
}
.homecontent .gallery div{
    height: 51vw;
    width:100%;
}
.homeFooter {
    background: #000;
    min-height: 100px;
    width: 100%;
    /* 不留白 */
    height: 100%;
    color: #fff;
    line-height: 100px;
}
.homeFooter .logo {
    padding: 81px;
}
.homeFooter .footerinfo {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin-top: 81px;
}
.homeFooter .addressinfo {
    display: inline-block;
    width: 100%;
}
.homeFooter .addressinfo .item {
    display: inline-block;
    margin-left: 5%;
}
.homeFooter .addressinfo .item span {
    position: relative;
    top: -10px;
    margin-left: 10px;
}
.homeFooter .addressinfo .item:first-child {
    margin-left: 0px;
}
.homeFooter .email {
     width: 25px;
}
.homeFooter .address {
     width: 18px;
}
.homeFooter .icongroup {
    display: inline-block;
    float: right;
}
.homeFooter .icongroup img {
    margin-left: 22px;
}

.homeFooter .copyrightinfo{
   display: inline-block;
    width: 100%;
}
.homeFooter .copyrightinfo span:last-child {
    margin-left: 40px;
}

.gallery{
    margin-bottom: 0 !important;
}


