.info {
	padding-left: 25%;
	box-sizing: border-box;
}
.about .imgnav {
	margin-top: 9%;
	width: 100%;
	margin-bottom: 196px;
}
.about .imgnav .item{
	display: inline-table;
	width: 27%;	
	margin-right:3.5%;
}
.about .imgnav .item img{
	width: 100%;
	height: auto;
}
.about .imgnav .item span{
	width: 100%;
}
.itemcontent p{
	font-family: "english";
	margin: 20px 0;
}
.itemcontent span{
	font-family: "chinese";
}

/*@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.info {
		padding-left: 16%;
	}
	.nav{
		padding-left: 25px ;
	}
	.nav img{
		width: 130px;
	}
	.nav a{
		line-height: 60px;
		font-size: 20px;
	}
}

@media screen and (min-width: 994px) and (max-width: 1201px) {
	.about .imgnav {
		margin-top: 80px;
		width: 800px;
	}
}

@media screen and (min-width: 769px) and (max-width: 993px){
	.nav{
		padding-left: 50px ;
	}
	.info .imgnav,.info .infohtml{
		margin-top: 80px;
		width: 640px;
	}
}*/

/**
 *像素小于1000
**/
@media only screen and (max-width: 768px) {
	.info {
		box-sizing: border-box;
		padding: 0px 8%;
		width: 100%;
	}

	.infoheader .middle .line {
		margin-top: 2px;
		display: inline-block;
		border-bottom: 1px solid #3e3a39;
		width: 60%;
		margin-left: 7px;
		vertical-align: middle;
	}

	.info .item img {
		width: 100%;
	}

	.info .imgnav .item span {
		font-size: 0.83vw;
		line-height: 30px;
		display: block;
		color: black;
		margin-top: 16px;
	}
	.about .imgnav{
		margin-top: 105px;
		width: 100%;
		margin-bottom: 0;
	}
	.about .imgnav .item{
		width: 30%;
		margin-right: 4%
	}
	.about .imgnav .item:nth-child(3){
		margin-right: 0;
	}
}
@media only screen and (max-device-width: 768px) {
	.info {
		box-sizing: border-box;
		padding: 0px 8%;
		width: 100%;
	}

	.infoheader .middle .line {
		margin-top: 2px;
		display: inline-block;
		border-bottom: 1px solid #3e3a39;
		width: 60%;
		margin-left: 7px;
		vertical-align: middle;
	}

	.info .item img {
		width: 100%;
	}

	.info .imgnav .item span {
		font-size: 0.83vw;
		line-height: 30px;
		display: block;
		color: black;
		margin-top: 16px;
	}
	.about .imgnav{
		margin-top: 105px;
		width: 100%;
		margin-bottom: 0;
	}
	.about .imgnav .item{
		width: 30%;
		margin-right: 4%
	}
	.about .imgnav .item:nth-child(3){
		margin-right: 0;
	}
}